@tailwind base;
@tailwind components;
@tailwind utilities;

.dashboard-background {
  background-color: lightskyblue;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}
.active {
  text-decoration: underline 3px #48cfcb;
  text-underline-offset: 10px;
}
